{
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "off",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "printWidth": 80,
        "tabWidth": 2,
        "useTabs": false,
        "endOfLine": "lf"
      }
    }
  ]
}
